
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


body{
    font-family: "Sora", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
  }


.active {
	background: transparent !important;
	color: black !important;
	border-bottom: 2px solid black !important;
	border-radius: 0 !important;
	font-weight: 600 !important;
}